<h1>Applications</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>User</th>
      <th>Job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.status %></td>
        <td><%= application.user_id %></td>
        <td><%= application.job_id %></td>
        <td><%= link_to 'Show', application %></td>
        <% if can? :destroy, @application %>
          <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
