<p>
  <strong>Status:</strong>
  <%= @application.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @application.user_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @application.job_id %>
</p>

<%= link_to 'Back', applications_path %>
