<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Expiry Date:</strong>
  <%= @job.expiry_date %>
</p>

<% if user_signed_in? and can? :create, Application %>
<%= button_to 'Apply', applications_path, 
    method: :post, 
    params: { application: {user_id: current_user.id, job_id: @job.id} }, 
    class: "btn btn-dark" 
%>
<% end %>

<% if can? :update, @job %>
<%= link_to 'Edit', edit_job_path(@job) %> |
<% end %>
<%= link_to 'Back', jobs_path %>
